<clock-widget></clock-widget>

<div *ngFor="let switch of switches" class="tile-square dash-switch fg-white" 
    [ngClass]="{'dash-device-online': switch.status == 'ONLINE', 'dash-device-offline': switch.status == 'OFFLINE'}"
    (click)="toggleSwitch(switch)" data-role="tile">
    <div class="tile-content iconic">
        <span class="icon mif-sun" 
            [ngClass]="{'dash-switch-on': switch.value == 'on', 'dash-switch-off': switch.value == 'off'}"></span>
        <span class="tile-label">{{switch.label}}</span>
        <span class="tile-badge">{{switch.value}}</span>
    </div>
</div>

<div *ngFor="let msensor of multiSensors" class="tile-square dash-msensor fg-white" 
    [ngClass]="{'dash-sensor-online': msensor.status == 'ONLINE', 'dash-sensor-offline': msensor.status == 'OFFLINE'}"
    data-role="tile">
    <div class="tile-content iconic">
        <span class="icon "
            [ngClass]="getIcon(msensor)"></span>
        <span class="tile-label">{{msensor.label}}</span>
        <span *ngIf="msensor.battery" class="icon no-margin dash-battery" [ngClass]="getBattClass(msensor)"></span>
    </div>
</div>

<div *ngFor="let psensor of presSensors" class="tile-small dash-psensor fg-white" 
    [ngClass]="{'dash-sensor-online': psensor.status == 'ACTIVE', 'dash-sensor-offline': psensor.status == 'INACTIVE'}"
    data-role="tile">
    <div class="tile-content iconic">
        <span class="icon mif-user"></span>
        <span class="tile-label">{{psensor.label}}</span>
    </div>
</div>
